{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
<div class="container-xl">
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title" style="background-color: #284898; padding: 5px 2px;">
                    <div class="d-flex justify-content-between py-2">
                        <div class="d-flex align-items-center me-2">
                            <a class="text-white pe-4" href="#"></a>
                        </div>
                        <h2 class="text-white">Tableau de bord des primes mensuelles</h2>
                        <div class="d-flex align-items-center me-2">
                            <a class="text-white pe-4" href="{% url 'app_contract:dashboard_prime_auto' %}">Page suivante</a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Mois</th>  <!-- Cellule vide pour l'en-tête de la première colonne -->
                        {% for month, totals in monthly_totals.items %}
                            <th>{{ month|month_name }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Prime TTC</th>  <!-- En-tête de la première ligne -->
                        {% for month, totals in monthly_totals.items %}
                            <td>{{ totals.total_prime_ttc }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Prime HT</th>  <!-- En-tête de la première ligne -->
                        {% for month, totals in monthly_totals.items %}
                            <td>{{ totals.total_prime_ht }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Prime Nette</th>  <!-- En-tête de la première ligne -->
                        {% for month, totals in monthly_totals.items %}
                            <td>{{ totals.total_prime_net }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Accessoires</th>  <!-- En-tête de la première ligne -->
                        {% for month, totals in monthly_totals.items %}
                            <td>{{ totals.total_accessoires }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Taux</th>  <!-- En-tête de la première ligne -->
                        {% for month, totals in monthly_totals.items %}
                            <td>{{ totals.total_taux }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Commissions</th>  <!-- En-tête de la première ligne -->
                        {% for month, totals in monthly_totals.items %}
                            <td>{{ totals.total_commission }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}