{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h2>
        {% if form.instance.pk %}
            Modification d'une compagnie
        {% else %}
            Enregistrement d'une nouvelle compagnie
        {% endif %}
    </h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}" class="">{{ form.name.label }}</label>
            {{ form.name }}
        </div>

        <button type="submit" class="btn btn-primary" style="background-color: #e42320; border-color: #e42320;">Enregistrer</button>

        <a href="{% url 'app_setting:company_list' %}" class="btn btn-secondary" style="background-color: #6c757d;">Annuler</a>
    </form>
</div>
{% endblock %}
