{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h2>
        {% if form.instance.pk %}
            Modification du contrat
        {% else %}
            Enregistrement d'un nouvel contrat
        {% endif %}
    </h2>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.description.id_for_label }}" class="">{{ form.description.label }}</label>
            {{ form.description }}
        </div>

        <div class="form-group">
            <label for="{{ form.comment.id_for_label }}" class="">{{ form.comment.label }}</label>
            {{ form.comment }}
        </div>


        <button type="submit" class="btn btn-primary" style="background-color: #e42320; border-color: #e42320;">Enregistrer</button>

        <a href="{% url 'app_dommage:other_list' %}" class="btn btn-secondary" style="background-color: #6c757d;">Annuler</a>
    </form>
</div>
{% endblock %}
